/* ///////////////////////////////////////////////////////// */
/* //////////////////// EDUCATION SECTION ////////////////// */
/* ///////////////////////////////////////////////////////// */
.education-section {
  padding: 4rem 12rem;
  position: relative;
}

/* Background video styling */
.background-video2 {
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;
  opacity: 1;
}

.video-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to top,
    rgba(30, 30, 47, 1),
    rgba(0, 191, 255, 0.3)
  );
  z-index: -1;
}

/* EDUCATION CARD HEADINGS */
/* //////////////////////////////// */
.section-heading {
  font-size: 2.6rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;

  background: linear-gradient(to left, #abebef, var(--secondary-color));
  background-size: 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Typing Animation / Style */
.typing2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;

  border-right: 2px solid var(--primary-color);
  animation: typing3 3s steps(19, end) forwards;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subheading {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin-bottom: 6rem;

  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(to left, #abebef, var(--secondary-color));
  background-size: 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* CAROUSEL WRAPPER */
/* //////////////////////////////// */
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.carousel {
  display: flex;
  margin: 0 auto;
  max-width: 750px;
  position: relative;

  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar across all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* EDUCATION CARD */
/* //////////////////////////////// */
.education-card {
  flex: 0 0 100%;
  width: 100%;
  scroll-snap-align: start;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  cursor: pointer;

  box-shadow: inset 0 0 0px 8px transparent;

  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: blur(5px);

  transition: all 0.5s ease;
}

<<<<<<< HEAD
.education-card h3 {
=======
.education-card h4 {
>>>>>>> 37aacfb7b23791eb8e546c149e5c2b292afdc6bd
  font-size: 2rem;
  letter-spacing: 2px;
  text-align: center;

  transition: all 0.4s ease;
}

.education-card p {
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 1.5px;

  text-align: center;
  transition: all 0.3s ease;
}

.education-card:hover {
  box-shadow: inset 0 0 0px 8px rgba(0, 191, 255, 0.81);
  background-color: rgb(255, 255, 255);
}

<<<<<<< HEAD
.education-card:hover h3 {
=======
.education-card:hover h4 {
>>>>>>> 37aacfb7b23791eb8e546c149e5c2b292afdc6bd
  color: var(--secondary-color);
}

/* EDUCATION CARD INNER */
/* //////////////////////////////// */
.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  transition: all 0.4s ease;
}

.education-card:hover .card-inner {
  transform: scale(0.95); /* or whatever scale you want */
}

/* CAROUSEL BUTTON */
/* //////////////////////////////// */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 2.4rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  padding: 0.4rem 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: all 0.4s ease;
}

.carousel-btn span {
  text-align: center;
}

.carousel-btn:hover {
  background-color: var(--primary-color);
}

.carousel-btn.left {
  left: 14.5%;
}

.carousel-btn.right {
  right: 14.5%;
}
