/* ///////////////////////////////////////////////////////// */
/* //////////////////// HOW IT WORKS SECTION /////////////// */
/* ///////////////////////////////////////////////////////// */
.how-it-works-section {
  padding: 4rem 12rem;
  position: relative;
}

/* Background video styling */
.background-video2 {
  position: absolute;
  top: -0px;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;
  opacity: 1;
}

.video-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to top,
    rgba(30, 30, 47, 1),
    rgba(0, 191, 255, 0.4)
  );
  z-index: -1;
}

/* EDUCATION CARD HEADINGS */
/* //////////////////////////////// */
.section-heading {
  font-size: 2.6rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;

  background: linear-gradient(
    to left,
    var(--highlight-color),
    var(--secondary-color)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* Typing Animation / Style */
.typing2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;

  border-right: 2px solid var(--primary-color);
  animation: typing3 2s steps(15, end) forwards;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-subheading {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-weight: bolder;
  margin-bottom: 6rem;

  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(
    to left,
    var(--highlight-color),
    var(--secondary-color)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

/* CAROUSEL WRAPPER */
/* //////////////////////////////// */
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

.carousel {
  display: flex;
  margin: 0 auto;
  max-width: 750px;
  position: relative;

  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar across all browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* CAROUSEL BUTTON */
/* //////////////////////////////// */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: 2.4rem;
  background-color: var(--secondary-color);
  color: var(--background-color);
  border: none;
  padding: 0.4rem 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: all 0.4s ease;
}

.carousel-btn span {
  text-align: center;
}

.carousel-btn:hover {
  background-color: var(--highlight-color);
}

.carousel-btn.left {
  left: 14.5%;
}

.carousel-btn.right {
  right: 14.5%;
}

/* HOW IT WORKS CARD */
/* //////////////////////////////// */
.how-it-works-card {
  flex: 0 0 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 3rem 4rem;
  text-align: center;
  scroll-snap-align: start;
  backdrop-filter: blur(8px);
  box-shadow: 0 0 15px rgba(0, 191, 255, 0.2);

  cursor: pointer;

  transition: all 0.5s ease;
}

.how-it-works-card h3 {
  font-size: 2rem;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    var(--highlight-color),
    var(--secondary-color)
  );
  background-clip: text;
  background-size: 125%;
  font-weight: bolder;

  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.4s ease;
}

.how-it-works-card p {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  line-height: 1.6;
  font-weight: 500;

  color: rgba(240, 240, 255, 0.8);
  transition: all 0.4s ease;
}

.how-it-works-card p strong {
  transition: all 0.4s ease;
}

/* HOW IT WORKS CARD HOVER STATES */
/* //////////////////////////////// */

.how-it-works-card:hover {
  background: rgba(255, 255, 255, 0.2);
}

.how-it-works-card:hover h3 {
  background-position: right center;
}

.how-it-works-card:hover p strong {
  color: var(--highlight-color);
}

.how-it-works-card .italic {
  font-style: italic;
}

.how-it-works-card:hover .italic strong {
  color: var(--secondary-color);
}

/* HOW IT WORKS CARD INNER */
/* //////////////////////////////// */
.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  transition: all 0.4s ease;
}

.how-it-works-card:hover .card-inner {
  transform: scale(0.95); /* or whatever scale you want */
}
