/* ///////////////////////////////////////////////////////// */
/* ////////////////// WHY MEDFIT AI SECTION ///////////////// */
/* ///////////////////////////////////////////////////////// */

.why-medfit-section {
  padding: 4rem 12rem;
  background: linear-gradient(to top, #f7f9fc, rgba(0, 191, 255, 0.08));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--primary-color);
  gap: 3rem;
}

.why-medfit-wrapper {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.why-medfit-wrapper h2 {
  font-size: 2.6rem;
  font-weight: bold;
  letter-spacing: 2px;
  background: linear-gradient(
    to right,
    var(--secondary-color),
    var(--highlight-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-intro {
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--primary-color);
}

.why-quote {
  font-size: 1.3rem;
  font-style: italic;
  margin-top: 2rem;
  padding: 2rem;
  border-left: 4px solid var(--secondary-color);
  background: rgba(0, 191, 255, 0.04);
  border-radius: 8px;
  max-width: 700px;
  line-height: 1.6;
}

.why-quote p {
  background: linear-gradient(
    to left,
    var(--highlight-color),
    var(--secondary-color)
  );
  background-clip: text;
  background-size: 125%;
  font-weight: bolder;

  background-position: left center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-subheading {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.why-list {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.why-list li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.why-list li span {
  display: inline-block;
  color: var(--secondary-color);
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

.why-list li strong {
  transition: all 0.3s ease;
}

.why-list li:hover {
  color: var(--secondary-color);
}

.why-list li:hover span {
  transform: scale(1.5);
  color: var(--highlight-color);
}

/* Typing Animation */
.typing7 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--primary-color);
  width: 0;
  animation: typing7 2s steps(13, end) forwards;
}

/* Responsive */
@media (max-width: 900px) {
  .why-medfit-section {
    padding: 4rem 6rem;
  }

  .why-medfit-wrapper h2 {
    font-size: 2.2rem;
  }

  .why-intro {
    font-size: 1.1rem;
  }

  .why-list li {
    font-size: 1.05rem;
  }
}
